
@import "bootstrap";



.center {
	text-align: center
}

.navbar-light {
    background-color: green !important;
}


#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px; 
	font-weight: bold;

}

#logo:hover {
	color: white;
	text-decoration: none;
}

.btn-xlarge{
	background-color: green !important;
}

.btn-xlarge:hover {
	color: white;
	text-decoration: none;
}

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a{
	color: #555;
}

footer a:hover{
	color: #222;

}

footer small{
	float: left;
}

footer ul{
	float: right;
	list-style: none;
}

footer ul li{
	float: left;
	margin-left: 15px;
}

.description {
	margin-top: -10px;
}

.well a{
	color: green;
}

.chef_info {
	margin-top: 10px;
}

.colormatch a{
	color: green;
}

.panel-heading {
    background-color: red;
    color: white;

}

.recipe_actions {
	padding-top: 5px;

	a{
		color: white;
	}
}
 